body{
    margin: 0;
    padding:0;
    background: #e1b12c;
}

.search {
    display: flex;
    justify-content: space-around;
}

.search-box{
    display: flex;
    justify-content: center;
    width: 500px;
    box-sizing: border-box;
    margin-top: 250px;
    padding: 13px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ffffff;
    
}
.search-btn{
    border: none;
    width: 400px;
    font-weight: 600;

}



.icon {
    height: 100%;
    /* padding: 0 13px; */
    background-color: #ffffff;
}

.search-txt{
border:none;
background: none;
outline:none;
float: center;
padding: 0px;
color:black;
font-size: 20px;
transition: 2.4s;
line-height: 40px;
}
.p{
    padding:50px;
    margin: 20px;

    
}

.card-position {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
    font-family: arial;
    font-size: 18px;
    margin: 50px;
    min-height: 500px;
  }

  #Fucking {
    margin-top: auto;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .card-position {
      display: flex;
      justify-content: space-around;
  }
  
  .pic-size {
    width: 200px;
    height: 190px;
  }

  .background-else {
    background-attachment: fixed;
    width: 100%;
    min-height: 700px;
    background-image: url("https://www.yushanchineserestaurant.com/images/yushan/background.jpg");
    background-size: cover;
  }
.hihi{
    margin: 20px;
}